@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h3>Zadejte souřadnice dvou bodů:</h3>
        <form asp-action="Polygon" method="get">
            <div>
                <label>latitude point A:</label>
                <input type="number" step="any" value="49.29" name="latitudePointA" required />
                <label>Longitude point A:</label>
                <input type="number" step="any" value="16.23" name="longitudePointA" required />
            </div>
            <div>
                <label>latitude point B:</label>
                <input type="number" step="any" value="49.28" name="latitudePointB" required />
                <label>longitude point B:</label>
                <input type="number" step="any" value="16.23" name="longitudePointB" required />
            </div>
            <button type="submit">Odeslat</button>
        </form>
    </div>
    @if (Model != null)
    {
        <div>
            <h3>Polygon properties:</h3>
            <pre>@Model</pre> <!-- Zobrazí data, která přišla z controlleru -->
        </div>
    }
</div>
