@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <h3>Polygon properties:</h3>
        <pre>@Model</pre> <!-- Zobrazí data, která přišla z controlleru -->
    </div>
</div>
